body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

@keyframes fadeOutMove {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

.animated-title {
    animation: fadeOutMove 2s ease-in-out;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}

p, ul {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #00ffd9;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff00d4;
}