body {
    /* 设置背景图片，并添加一个半透明的黑色层 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2.jpg');
    /* 设置背景图片的大小为覆盖整个页面 */
    background-size: cover;
    /* 设置背景图片的位置为页面的中心 */
    background-position: center;
    /* 设置背景图片不重复 */
    background-repeat: no-repeat;

    /* 使用Flexbox布局 */
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    /* 设置最小高度为100vh，确保占满整个视口高度 */
    min-height: 100vh;
    /* 设置方向为列，使元素垂直排列 */
    flex-direction: column;
}
#search-box {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    transition: all 0.3s ease;
}

#search-box:focus {
    outline: none;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
}

#search-btn {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#search-btn:hover {
    background-color: #0056b3;
}
.train-list {
    border-collapse: collapse;
}
.main-content {
    width: 80%;
    margin: auto;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.train-list {
    width: 100%;
    border-collapse: collapse;
}

.train-row {
    border: none;
    height: 20vh;
}

.train-info {
    padding: 20px;
}

.train-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.route, .cost, .ticket-info {
    margin-bottom: 5px;
}

.ticket-info.abundant {
    color: green;
}

.ticket-info.scarce {
    color: red;
}

.ticket-info.none {
    color: rgba(128, 128, 128, 0.46);
}
.train-row {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.train-row[data-train-num^="K"] {
    background-color: rgba(144, 238, 144, 0.5);
    background-image: linear-gradient(to right, rgba(144, 238, 144, 0.5), rgba(144, 238, 144, 0.1));
}

.train-row[data-train-num^="G"] {
    background-color: rgba(173, 216, 230, 0.5);
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0.1));
}

.train-row:not([data-train-num^="K"]):not([data-train-num^="G"]) {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}